http://{$SERVER_NAME:localhost} {
	log {
		format filter {
			request>uri query {
				replace authorization REDACTED
			}
		}
	}

	root * /app/public
	encode zstd br gzip

	php {
		root /app/public
	}

	mercure {
		# La directive `transport_url` est dépréciée
		# Par défaut, le transport "bolt" est utilisé via /data/mercure.db
		# On peut aussi ajouter explicitement : transport "bolt"
		publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} HS256
		subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} HS256
		anonymous
		subscriptions
	}

	vulcain

	header ?Permissions-Policy "browsing-topics=()"

	handle_path /api/* {
		try_files {path} /index.php?{query}
		file_server
	}

	@phpRoute {
		not path /.well-known/mercure*
		not file {path}
	}
	rewrite @phpRoute /index.php

	@frontController path /index.php
	php @frontController

	file_server {
		hide *.php
	}
}
